<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Edit Customer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div layout:fragment="content">
            <h1 class="h2">Edit Customer</h1>
            <div class="container">
                <div class="row">    
                    <form method="post" th:action="@{/customer/form}" th:object="${customer}">
                        <div class="form-group row">
                            <label for="inputFullname" class="col-sm-4 col-form-label">Nama Lengkap</label>
                            <div class="col-sm-8">
                                <input th:field="*{fullname}" id="inputFullname" type="text" class="form-control" th:errorclass="is-invalid" placeholder="Nama Lengkap">
                                <div id="pesan-error-fullname" class="invalid-feedback" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-8">
                                <input th:field="*{email}" type="text" class="form-control" th:errorclass="is-invalid" id="inputEmail" placeholder="Email">
                                <div id="pesan-error-email" class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputMobile" class="col-sm-4 col-form-label">No HP</label>
                            <div class="col-sm-8">
                                <input th:field="*{mobilePhone}" id="inputMobile" type="text" class="form-control" th:errorclass="is-invalid" placeholder="+62xxxxxxx">
                                <div id="pesan-error-nohp" class="invalid-feedback" th:if="${#fields.hasErrors('mobilePhone')}" th:errors="*{mobilePhone}"></div>
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-4 pt-0">Jenis Kelamin</legend>
                                <div class="col-sm-8">
                                    <div class="form-check" th:each="g : ${T(com.muhardin.endy.belajar.selenium.entity.Gender).values()}">
                                        <input class="form-check-input" th:errorclass="is-invalid" type="radio" th:field="*{gender}" th:value="${g}">
                                        <label class="form-check-label" th:for="${#ids.prev('gender')}" th:text="${g}">
                                            Pria
                                        </label>
                                        <div id="pesan-error-jeniskelamin" class="invalid-feedback" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <label for="education" class="col-sm-4 col-form-label">Pendidikan</label>
                            <div class="col-sm-8">
                                <select class="form-control" th:errorclass="is-invalid" th:field="*{education}" id="education">
                                    <option value="">Pilih tingkat pendidikan terakhir</option>
                                    <option th:each="edu : ${T(com.muhardin.endy.belajar.selenium.entity.Education).values()}"
                                            th:value="${edu}"
                                            th:text="${edu}">Default select</option>
                                </select>
                                <div id="pesan-error-education" class="invalid-feedback" th:if="${#fields.hasErrors('education')}" th:errors="*{education}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputTanggalLahir" class="col-sm-4 col-form-label">Tanggal Lahir</label>
                            <div class="col-sm-8">
                                <input th:field="*{birthdate}" id="inputTanggalLahir" type="text" class="form-control" th:errorclass="is-invalid" placeholder="yyyy-MM-dd">
                                <div id="pesan-error-birthdate" class="invalid-feedback" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button id="simpanCustomer" type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
