<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Data Customer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="content">
            <h1 class="h2">Data Customer</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a href="form" class="btn btn-sm btn-outline-secondary">Customer Baru</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Mobile Phone</th>
                            <th>Gender</th>
                            <th>Education</th>
                            <th>Birthdate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cust : ${dataCustomer.content}">
                            <td th:text="${cust.fullname}">1,001</td>
                            <td th:text="${cust.email}">Lorem</td>
                            <td th:text="${cust.mobilePhone}">ipsum</td>
                            <td th:text="${cust.gender}">dolor</td>
                            <td th:text="${cust.education}">sit</td>
                            <td th:text="${cust.birthdate}">sit</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-6">
                        <div sd:pagination-summary="">info</div>
                    </div>
                    <div class="col-sm-6">
                        <nav class="pull-right">
                            <ul class="pagination" sd:pagination="full">
                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
        </section>
    </body>
</html>
